---
import WidgetsExpo from '../components/widgetsExpo.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Widget components with tailwind CSS">
	<div class="px-6 mx-auto w-full max-w-[100rem]">
		<section class="flex items-center justify-between w-full py-40">
			<div class="grid lg:grid-cols-12 gap-36">
				<div class="flex flex-col items-start col-span-6 dark:text-white">
					<h1 class="text-5xl text-center md:text-left lg:text-5xl xl:text-6xl 2xl:text-7xl 2xl:leading-[5rem] font-bold ">
						Widgets <span class="text-indigo-700">components</span> with tailwind CSS</span>
					</h1>
					<p class="mt-8 text-lg xl:text-xl 2xl:text-xl">
						Explore our extensive gallery of over 500 widgets designed using tailwindcss. These widgets are carefully crafted to enhance productivity and offer a practical solution for your projects. With a simple and minimalist design, these elements are ideal for integration into your applications, with support for both light and dark themes.
					</p>
					<a 
						href="/categories/food" 
						class="mt-8 px-8 h-12 flex items-center justify-center bg-indigo-700 text-white rounded-md font-medium text-lg xl:text-xl 2xl:text-xl">
						Explore widgets
					</a>
				</div>
				<div class="col-span-6">
					<WidgetsExpo />
				</div>
			</div>
		</section>
	</div>
</Layout>

